.panel-wrapper {position: relative;}
.panel-wrapper a:hover {opacity: 1;}
.panel-wrapper, .panel-inner-wrapper {background-position: center center; background-repeat: no-repeat; background-size: cover;}
.panel-inner-wrapper {width: 100%; height: 100%;}
.panel-inner-wrapper > .column {padding-top: 2rem; padding-bottom: 2rem; display: table-cell; vertical-align: middle; height: inherit; min-height: inherit;}
.panel-inner-wrapper > .column > a {display: block; width: 100%; height: 100%; min-height: inherit; position: absolute; top: 0; left: 0;}
.panel-inner-wrapper.no-image {text-align: inherit; color: inherit;}
.panel-inner-wrapper p.action-button {text-align: center;}

/* Children as Slider */
.panel-slider.slick-slider {padding: 0;}
.panel-slider .panel-inner-wrapper {padding-left: 4rem; padding-right: 4rem;}

.slick-prev, .slick-next {z-index: 10; position: absolute; display: block; line-height: 0; font-size: 0; cursor: pointer; background: transparent !important; color: transparent; top: 50%; margin-top: -2.5rem; padding: 0; border: none; outline: none;}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {outline: none; background: transparent; color: transparent;}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:after, .slick-next:focus:after {opacity: 1;}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {opacity: 0.25;}

.slick-prev:before, .slick-next:after {font-family: "slick"; font-size: 5rem; line-height: 1; color: white;}

.slick-prev {left: 25px;}
[dir="rtl"] .slick-prev {left: auto; right: 25px;}
.slick-prev:before {content: "‹";}
[dir="rtl"] .slick-prev:before {content: "›";}

.slick-next {right: 25px;}
[dir="rtl"] .slick-next {left: 25px; right: auto;}
.slick-next:after {content: "›";}
[dir="rtl"] .slick-next:after {content: "‹";}

/* Children as Tiles */
.panel-tiles .tile {display: inline-block; padding: 0; min-height: 300px; overflow: hidden; position: relative; border: 4px solid transparent;}
.panel-tiles .tile .panel-wrapper, .panel-tiles .tile .panel-inner-wrapper {height: inherit; min-height: inherit;}
.panel-tiles .panel-wrapper.video {height: 100%; padding: 0;}

/* Default recipe */
.default .link {display: block;}

/* Custom styles for specific recipes */
.panel-wrapper.half_image {position: relative; overflow: hidden;}
.panel-wrapper.half_image .panel-inner-wrapper > .column {padding-top: 0; padding-bottom: 0;}
.panel-wrapper.half_image .image {background-position: center center; background-repeat: no-repeat; background-size: cover; height: 200px; width: 110%; margin-left: -1rem;}
.panel-wrapper.half_image .content {padding-top: 0.975rem;padding-bottom: 0.975rem;}

.panel-wrapper.recent_posts .image {display: table; height: 300px; width: 100%; background-position: center center; background-size: cover; background-repeat: no-repeat; text-align: center;}

.panel-wrapper.recent_posts .title {margin-top: 1rem; text-transform: uppercase;}

.panel-wrapper.recent_posts .content {margin-top: 1rem;}

.panel-wrapper.tile_menu .column {display: inline-block; padding: 0; height: 250px; overflow: hidden; position: relative; border: 4px solid transparent;}
.panel-wrapper.tile_menu .image {display: table; height: 100%; width: 100%; background-position: center center; background-size: cover; background-repeat: no-repeat;}
.panel-wrapper.tile_menu .image::before {content: ''; height: 100%; width: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.25);}
.panel-wrapper.tile_menu .link {display: table-row;height: 100%;-moz-transform: translateY(-0%); -ms-transform: translateY(-0%); transform: translateY(-0%)}
.panel-wrapper.tile_menu span {display: table-cell; vertical-align: middle;}

.panel-wrapper.video {height: 300px;}
.panel-wrapper.video .column {display: inline-block; padding: 0; height: 100%; overflow: hidden; position: relative; text-align: center;}
.panel-wrapper.video .wrapper {display: table; height: 100%; width: 100%; min-height: inherit;}
.panel-wrapper.video .link {display: table-row;}
.panel-wrapper.video .link .fa {display: table-cell; vertical-align: middle; color: #E62117;}

/* Medium and up */
@media only screen and (min-width: 40em) { /* <-- min-width 640px - medium screens and up */
	.panel-wrapper.half_image .image {background-position-x: left; height: 100%; position: absolute; width: 50%; left: 0;}
	.panel-wrapper.half_image .image-right .image {background-position-x: right; left: auto; right: 0;}
	.panel-wrapper.half_image .content {float: right; padding: 0.975rem; width: 50%;}
	.panel-wrapper.half_image .image-right .content {float: left;}
    .panel-wrapper.tile_menu .column {border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: none; border-bottom: none;}
    .panel-wrapper.video {height: 500px;}
}

/* Large and up */
@media only screen and (min-width: 64em) { /* <-- min-width 1024px - large screens and up */
    .panel-wrapper.video { padding-top: 2rem; padding-bottom: 2rem;}
    .panel-wrapper.video {height: 600px;}
}
